.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}





* {
    margin: 0%;
}





.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}
.navbar ul {
    display: flex;
    gap: 50px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .list-1,
    .list-2,
    .list-3 {
        display: none;
    }
    .navbar {
        margin: 13px 16px 28px 16px;
    }
    .nav-logo {
        max-width: 63px;
    }
}





.color-orange {
    color: #E95A08;
}





.banner {
    display: flex;
    margin:226px 150px 120px 150px;
    justify-content: space-between;
    align-items: end;
}
.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;
}
.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    width: 570px;
}
.banner-img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        margin: 0;
    }
    .banner-title {
        font-size: 24px;
        margin: 0 16px;
        margin-bottom: 13px;
    }
    .banner-description {
        width: calc(100% - 32px);
        font-size: 14px;
        margin: 0 16px;
        margin-bottom: 65px;
    }
    .banner-img {
        margin-bottom: 28px;
    }
}
