/*font*/
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*entire page*/
* {
    margin: 0%;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}

.navbar ul {
    display: flex;
    gap: 50px;
}

.navbar ul li {
    list-style: none;
}

.list-1 a {
    color: #252432;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s, opacity 0.2s;
}

.list-1 a:hover {
    color: #E95A08;
}

.list-1 a:active {
    opacity: 0.5;
}

.list-2 a {
    color: #8987A1;
    text-decoration: none;
    transition: color 0.2s, opacity 0.2s;

}

.list-2 a:hover {
    color: #E95A08;
}

.list-2 a:active {
    opacity: 0.5;
}

.list-3 a {
    color: #8987A1;
    text-decoration: none;
    transition: color 0.2s, opacity 0.2s;

}

.list-3 a:hover {
    color: #E95A08;
}

.list-3 a:active {
    opacity: 0.5;
}

/*navber for mobile*/
@media screen and (max-width: 576px) {
    .navbar {
        margin: 13px 16px 28px 16px;
    }

    .list-1,
    .list-2,
    .list-3 {
        display: none;
    }

    .nav-logo {
        max-width: 63px;
    }
}

/*color*/
.color-orange {
    color: #E95A08;
}

/*banner*/
.banner {
    display: flex;
    margin: 226px 150px 120px 150px;
    justify-content: space-between;
    align-items: end;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    width: 570px;
}

.banner-img {
    width: 570px;
}

/*banner for mobile*/
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        margin: 0;
    }

    .banner-title {
        font-size: 24px;
        margin: 0 16px;
        margin-bottom: 13px;
    }

    .banner-description {
        width: calc(100% - 32px);
        font-size: 14px;
        margin: 0 16px;
        margin-bottom: 65px;
    }

    .banner-img {
        width: 100%;
        margin-bottom: 28px;
    }
}

/*plants section*/
.flower-container-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
}

.flower-container-description {
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.flower-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin: 0 150px;
    text-align: center;
    column-gap: 40px;
    row-gap: 55px;
    margin-bottom: 150px;
}

.flower-img {
    width: 100%;
}

.flower-title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.flower-price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.button {
    border: 2px solid #E95A08;
    width: 100%;
    background-color: #E95A08;
    color: white;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 80px;
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    color: #E95A08;
    background-color: white;
}

/*plants section for mobile*/
@media screen and (max-width: 576px) {
    .flower-container-title {
        font-size: 24px;
    }

    .flower-container-description {
        font-size: 14px;
        margin: 0 28px;
        margin-bottom: 28px;
    }

    .flower-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 15px;
        column-gap: 20px;
        row-gap: 28px;
    }

    .flower-img {
        width: 100%;
    }

    .flower-title {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .flower-price {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .button {
        padding: 15px 30px;
        font-size: 16px;
    }
}

/*plants lover section*/
.plants-lover-section {
    display: flex;
    margin: 0 150px;
    margin-bottom: 135px;
    align-items: end;
    justify-content: space-between;
}

.plants-lover-container {
    margin: 38px 0 38px 0px;
}

.plants-lover-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.plants-lover-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-bottom: 20px;
}

.plants-lover-description>li {
    margin-bottom: 20px;
    width: 505px;
}

/*spin animation*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.guarantee {
    position: relative;
    margin-bottom: -170px;
    margin-left: 370px;
    animation: spin 5s linear infinite;

}

/*plants lover section for mobile*/
@media screen and (max-width: 576px) {
    .plants-lover-section {
        flex-direction: column;
        margin: 0 17px;
        margin-top: 40px;
        align-items: center;
    }

    .plants-lover-container {
        margin: 0;
        width: 100%;
    }

    .store-img {
        width: 100%;
        margin-bottom: 18px;
    }

    .guarantee {
        display: none;
    }

    .plants-lover-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .br {
        display: none;
    }

    .plants-lover-description {
        font-size: 14px;
        padding-left: 25px;
    }

    .plants-lover-description>li {
        width: 100%;
        margin-bottom: 16px;
    }
}

/*deal section*/
.deal-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.deal-description {
    font-size: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 120px;
}

.deal-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 30px;
    margin: 0 175px;
    margin-bottom: 120px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.box>* {
    position: relative;
    z-index: 2;
}

#box-1 {
    background-image: url(../assets/deal-bloom.png);
    width: 367px;
    height: 201px;
    border-radius: 14px;
}

#box-2 {
    background-image: url(../assets/deal-zabo.png);
    width: 753px;
    grid-row: span 2;
    border-radius: 22px;
}

#box-3 {
    background-image: url(../assets/deal-ana.png);
    width: 367px;
    height: 201px;
    border-radius: 10px;
}

.deal-about-1 {
    font-size: 20px;
    font-weight: bold;
}

.deal-about-2 {
    font-size: 40px;
    font-weight: bold;
}

.deal-shop-1 {
    font-family: 16px;
    font-weight: 500;
    color: white;
    padding-top: 14px;
}

.deal-shop-2 {
    font-size: 28px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
}

/*deal section for mobile*/
@media screen and (max-width: 576px) {
    .deal-title {
        font-size: 24px;
        margin-top: 50px;
    }

    .deal-description {
        font-size: 14px;
        margin: 0 28px;
        margin-bottom: 50px;
    }

    .br {
        display: none;
    }

    .deal-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        row-gap: 20px;
    }

    #box-1,
    #box-2,
    #box-3 {
        width: 361px;
        height: 200px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .deal-about-1,
    .deal-about-2 {
        font-size: 20px;
    }

    .deal-shop-1,
    .deal-shop-2 {
        font-size: 16px;
    }
}

/*join section*/
.join-container {
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
}

.join-head {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
}

.email {
    width: 45%;
    font-size: 16px;
    padding: 20px 0;
    border: none;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.button-1 {
    border: 1px solid #E95A08;
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 54px;
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}

.button-1:hover {
    opacity: 0.7;
}

.button-1:active {
    color: #E95A08;
    background-color: white;
}

.email-container {
    display: flex;
    justify-content: center;
}

/*join seeection for mobile*/
@media screen and (max-width: 576px) {
    .join-container {
        margin-top: 45px;
        padding-top: 110px;
        padding-bottom: 65px;
    }

    .join-head {
        font-size: 20px;
    }

    .email {
        padding: 15px 0;
        padding-left: 20px;
    }

    .button-1 {
        padding: 20px 12px;
    }
}

/*footer seection*/
.footer {
    margin: 50px 160px;
    display: flex;
    justify-content: space-between;
}

.footer-img {
    width: 135px;
    margin-bottom: 16px;
}

.footer-description {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    width: 360px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    font-size: 18px;
    font-family: inter;
    color: rgba(0, 0, 0, 0.5);
}

.footer-link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.2s, opacity 0.2s;
}

.footer-link a:hover {
    color: #E95A08;
}

.footer-link a:active {
    opacity: 0.5;
}

.footer-social-img {
    align-items: center;
    display: flex;
    margin-top: -200px;
    gap: 24px;
}

/*footeer section for mobile*/
@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        margin: 50px 20px;
    }

    .footer-img {
        width: 180px;
    }

    .footer-description {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .footer-link {
        font-size: 16px;
        row-gap: 0px;
        margin-bottom: 20px;
        gap: 20px;
    }

    .footer-social-img {
        margin: 0;
    }
}